*{
    padding:0%;
    margin: 0%;
}
html,body{
    width:100%;
    height:100%;
    display: flex;  
    align-items: center;  
    justify-content: center;
}
div{
    display: flex;  
    align-items: center;  
    justify-content: center;
    width: 200px;
    height:200px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-weight: normal;
}
#square1:hover{
    background-color: red;
}
#square2:hover{
    background-color: blue;
}
#circle:hover{
    background-color:green;
}
#circle{
    border-radius: 50%;
}
#square2{
    rotate: 45deg;
    margin-top: 50px;
    height: 145px;
    width: 145px;
    translate: 20px;
}
#square2 h1{
    rotate: -45deg;
}